/* NAV BAR */
body {
  text-align: center;
  background-color: #0D0129;
  color: #f4f4f4;
}

#root {
  margin: 0 auto;
  width: 75%;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  float: left;
  padding: 14px 5px;
}

li a {
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.topnav {
  overflow:hidden;
}

.left
{
  text-decoration:none;
  color:#f4f4f4;
  position: relative;
  letter-spacing: 5px;
}
.left:before
{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.left:hover:before {
  visibility: visible;
  width: 100%;
}

.navbar-right {
  float: right;
}

.contact {
  text-align: center;
  justify-content: center;
}

/* home */

.home {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  letter-spacing: 5px;
}

/* Contact */
.cv {
  background-color:#0D0129;
  color:#f4f4f4;
  padding: 18px 50px;
  text-align: center;
  font-size:20px;
  border-color: #f4f4f4;
  margin: 4px 2px;
  transition: 1s;
}
.cv:hover
{
  color:#5eead4;
  border-color: #5eead4;
}

.contact_me
{
  background-color:#5eead4;
  color:#f4f4f4;
  padding: 20px 65px;
  text-align: center;
  font-size:20px;
  border: none;
  margin: 4px 2px;
  transition: 0.3s;
}
.contact_me:hover
{
  color:#0d0129;
}

/* About Me */
.about {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  letter-spacing: 5px;
  overflow: hidden;
}


.about h1 {
  display: inline;
  float: left;
  margin-right: 25%;
  text-align: center;
  justify-content: center;
  padding: 40px 40px;
}

.about p {
  position: right;
  text-align: left;
  padding: 20px 20px;
  margin-left: 0;
}

/* My Projects */
.projects {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  letter-spacing: 5px;
  text-align: center;
  justify-content: center;
  float: center;
}

.projects h1 {
  width: 50%;
  float: left;
}

.projects p {
  width: 50%;
  float: right;
} */